* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    color: blue;
}

.container-fluid {
    display: flex;
    width: fit-content;
    
}
.row {
    /* display: flex; */
    /* width: 100%; */
    padding: 5px;
}

.col-1, .col-2, .col-3 {
    position: relative;
    top: 0;
    float: left;
}

.col-1 h3, .col-2 h3, .col-3 h3 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    margin: 0;
    border: 2px solid black;
    border-radius: 5px;
}

.col-1 h3 {
    background-color: #f37b7b;
    color: #7bf3c1;
}

.col-2 h3 {
    background-color: #c9f37b;
    color: #f37b7b;
}

.col-3 h3 {
    background-color: #7bf3c1;
}

.col-1, .col-2, .col-3 {
    background-color: bisque;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 25px 10px 5px;
    align-content: center;
}

/* Desktop view */
@media (min-width: 992px) {
    .col-1, .col-2, .col-3 {
        width: 32%;
    }
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 991px) {
    .col-1, .col-2, .col-3 {
        width: 48%;
    }

    .col-3 {
        width: 97%;
    }
}

/* Mobile view */
@media (max-width: 767px) {
    .col-1, .col-2, .col-3 {
        width: 100%;
    }
}